@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Oswald:wght@200;500;700&display=swap');

/* Unifica para distintos navegadores según lo que establezca más adelante*/
*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*etiqueta raiz- equivalencia de porcentaje 1 rem 10px*/
html{
    font-size: 62.5%;
}

/*Configuraciones para responsive*/
/*Desde 320 pone fondo al main*/
@media only screen and (min-width: 320px) {
    main{
        background-color: rgb(241, 240, 234);
    }
  }
  /*Desde 1024 pone fondo al footer*/
@media only screen and (min-width: 1024px) {
    footer{
        background-color: rgb(183, 210, 236);
    }
  }
