@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Oswald:wght@200;500;700&display=swap");
/* Unifica para distintos navegadores según lo que establezca más adelante*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Oswald:wght@200;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Oswald:wght@200;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Oswald:wght@200;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Oswald:wght@200;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*etiqueta raiz- equivalencia de porcentaje 1 rem 10px*/
html {
  font-size: 62.5%;
}

/*Configuraciones para responsive*/
/*Desde 320 pone fondo al main*/
@media only screen and (min-width: 320px) {
  main {
    background-color: #f1f0ea;
  }
}

@media (max-width: 540) {
  .header__titulo {
    font-size: 2rem;
    /*Tamaño de la tipografía*/
    text-align: center;
    /*Alineación del texto*/
    font-family: 'Oswald', sans-serif;
    padding: 10px;
  }
  img {
    display: none;
  }
}

/*Desde 1024 pone fondo al footer*/
@media only screen and (min-width: 1024px) {
  footer {
    background-color: #b7d2ec;
  }
}

@media only screen and (max-width: 720px) {
  .main_formulario {
    -ms-flex-wrap: nonwrap;
        flex-wrap: nonwrap;
  }
}

.header__encabezado {
  background-color: #417dec;
  /*Color de fondo*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__encabezado .header__titulo {
  color: white;
  /*Color a la tipografía*/
  font-size: 7rem;
  /*Tamaño de la tipografía*/
  text-align: center;
  /*Alineación del texto*/
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  padding: 10px;
}

.header__encabezado .header__imagenlogo {
  width: 70px;
  padding: 5px;
  border-style: inset;
  margin: 15px;
  background-color: white;
}

.header__estilos {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

li:hover {
  background-color: #f8cc7b;
}

main {
  font-family: 'Montserrat', sans-serif;
}

/*Titulo para las páginas*/
.main__titulo {
  color: #02742e;
  font-size: 3rem;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  background-color: white;
}

.main__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem;
  font-size: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__section .main__parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__section .main__mvv {
  margin-top: 1rem;
}

.main__section .side__contenido {
  padding: 0.5rem;
  text-align: center;
}

.main__subtitulos {
  color: orangered;
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

/*SOLUCIONES DE NEGOCIO*/
.main__solParrafo {
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__imagenesSoluciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__imagenesSoluciones .main__img {
  padding: 2rem;
}

.main__imagenesSoluciones .main__img img {
  width: 300px;
  height: 200px;
}

/*INVESTIGACIÓN*/
.main__sectionInv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.main__sectionInv img {
  width: 300px;
  height: 200px;
  padding: 1rem;
}

/*FORMACIÓN PROFESIONAL*/
.main__investigacion {
  margin: 1rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

/*EDITORIAL*/
.main__editorial {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem;
}

.main__editorial p {
  padding: 1rem;
}

.main__editorial a {
  padding-bottom: 2rem;
}

/*CONTACTO*/
.formulario {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formulario fieldset {
  font-size: 15px;
}

.formulario label {
  font-size: 15px;
}

.formulario input {
  font-size: 15px;
}

.formulario select {
  font-size: 15px;
}

.main_formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem;
  padding: 3rem;
}

.footer {
  font-family: 'oswald',sans-serif;
}

.footer .footer__contenedorImagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.footer .footer__imagenes {
  padding: 0rem 1rem;
}

.footer .footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #add4ad;
}

.error__body .error_titulo {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: navy;
  font-size: 6rem;
}

.error__body .error__logo {
  border-style: inset;
  border-width: 1rem;
  border-color: navy;
  padding: 15px;
  background-color: white;
}

.error__body .error__texto {
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
}

.error__body .error__linkInicio {
  text-decoration: none;
  color: orangered;
}
/*# sourceMappingURL=main.css.map */